.fixed-top.scrolled {
    background-color: #222324 !important;
}
.text-white.dark {
    color: #222324 !important;
}
.fixed-top {
    transition: background-color 500ms linear;
}
.main-sponsor {
    max-height: 12vh;
    max-width: 50vw;
    margin-top: 25px;
    margin-bottom: 25px;
}
.sponsor {
    max-height: 10vh;
    margin-top: 25px;
    margin-bottom: 25px;
}
.row-footer {
    padding: 20px 0;
    background-color: #222324;
    color: white;
}
.heading {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
}
html, body {
    width: 100%;
    overflow-x: hidden;
}
p {
    font-family: Inter, -apple-system, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: inherit;
    line-height: 24px;
}
h1 {
    font-family: Castledown, -apple-system, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
}
.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.googleCalendar{
    position: relative;
    height: 0;
    width: 99%;
    padding-bottom: 99%;
}

.googleCalendar iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
li a {
    color: white;
}

.cu{
    background-color: lightgray;
    padding-top: 50px;
    padding-bottom: 60px;
}

.para_cu{
    color: dimgrey;
    padding-bottom: 20px;
}

#cu_a{
    background-color: #222324;
    color: white;
}

.person {
    margin-top: 12px;
    border: 2px solid transparent;
}

.person:hover {
    border-color: whitesmoke;
}

.active{
	background-color: #dee2e661;
}

.img-container{
    height: 150px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    object-fit: contain;
}

#myCarousel{
	width: 100%;
    height: 60vh;
    background: radial-gradient(circle, rgb(69, 69, 69) 10%, rgb(38, 38, 38) 36%);
    padding-top: 7vh;
}



#icons{
	text-align: center;
    display: block;
    padding-top: 3%;
	margin: auto;
	width: 100%;
}
#git{
	background-image: url(../img/logos/git3.png);
    width: 5vh;
    height: 5vh;
    background-size: cover;
    display: inline-block;
}
#fb{
	background-image: url(../img/logos/fb3.png);
    width: 5vh;
    height: 5vh;
    background-size: cover;
    display: inline-block;
}
#insta{
	background-image: url(../img/logos/insta3.png);
    width: 5vh;
    height: 5vh;
    background-size: cover;
    display: inline-block;
}
#wa{
	background-image: url(../img/logos/wa3.png);
    width: 5vh;
    height: 5vh;
    background-size: cover;
    display: inline-block;
}
#slack{
	background-image: url(../img/logos/slack3.png);
    width: 5vh;
    height: 5vh;
    background-size: cover;
    display: inline-block;
}
i{
	margin-right: 2%;
	margin-left: 2%;
}